/* Occasional discount banners at the top */
.js-discount-unibrow {
	display: none;
}

/* Column on the right of the papers list on a profile containing advertisement and a premium link */
.profile--cols_container > .col-300 {
	display: none;
}

/* Sidebar widget on main page */
.js-premium-upsell-sidebar {
	margin-bottom: -32px;
}

.js-premium-upsell-sidebar * {
	display: none;
}
